{% extends "layout.html" %}

{% block title %}
Sign in
{% endblock %}

{% block body %}
    <span><img src="https://static01.nyt.com/images/2020/03/14/upshot/14up-colleges-remote/14up-colleges-remote-mediumSquareAt3X.jpg" width = "500vw" height="800vh"></span>
    <span>
        <style>
            h1 {
                padding-top: 30vh;
            }

            img {
                float: left;
                padding-right: 15px;
            }

            input[type=text], input[type=submit] {
                width: 25vw;
            }
        </style>

        <h1>Your JC marks recorder</h1>
        <h2>Sign in for access:</h2>

        <form action = "/authentication" method = "post" autocomplete = "off">
            <p>Username: <input type = 'text' name = "username" placeholder = "Username" required></p>
            <p>Password: <input type = 'text' name = "password" placeholder = "Password" required></p>
            <p><input type = "submit"></p>
        </form>

        <a href = "/register">New user? Sign up here.</a>
    </span>

{% endblock %}